@font-face {
	font-family: 'gordita';
	src: url('../fonts/gorditaregular-webfont.eot');
	src: url('../fonts/gorditaregular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gorditaregular-webfont.woff2') format('woff2'),
	url('../fonts/gorditaregular-webfont.woff') format('woff'),
	url('../fonts/gorditaregular-webfont.ttf') format('truetype'),
	url('../fonts/gorditaregular-webfont.svg#gorditaregular') format('svg');
	font-weight: 500;
	font-style: normal;

}

@font-face {
	font-family: 'gordita';
	src: url('../fonts/gorditamedium-webfont.eot');
	src: url('../fonts/gorditamedium-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gorditamedium-webfont.woff2') format('woff2'),
	url('../fonts/gorditamedium-webfont.woff') format('woff'),
	url('../fonts/gorditamedium-webfont.ttf') format('truetype'),
	url('../fonts/gorditamedium-webfont.svg#gorditamedium') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'gordita';
	src: url('../fonts/gorditabold-webfont.eot');
	src: url('../fonts/gorditabold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gorditabold-webfont.woff2') format('woff2'),
	url('../fonts/gorditabold-webfont.woff') format('woff'),
	url('../fonts/gorditabold-webfont.ttf') format('truetype'),
	url('../fonts/gorditabold-webfont.svg#gorditabold') format('svg');
	font-weight: 700;
	font-style: normal;

}

/* Regular */
@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/leaguegothic-italic-webfont.eot');
	src: url('../fonts/leaguegothic-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/leaguegothic-italic-webfont.woff') format('woff'),
	url('../fonts/../fonts/leaguegothic-italic-webfont.ttf') format('truetype'),
	url('leaguegothic-italic-webfont.svg#league_gothic_italicregular') format('svg');
	font-weight: normal;
	font-style: italic;

}

/* Italic */
@font-face {
	font-family: 'League Gothic';
	src: url('../fonts/leaguegothic-regular-webfont.eot');
	src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
	url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
	url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* Condensed */
@font-face {
	font-family: 'League Gothic Condensed';
	src: url('../fonts/leaguegothic-condensed-regular-webfont.eot');
	src: url('../fonts/leaguegothic-condensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/leaguegothic-condensed-regular-webfont.woff') format('woff'),
	url('../fonts/leaguegothic-condensed-regular-webfont.ttf') format('truetype'),
	url('../fonts/leaguegothic-condensed-regular-webfont.svg#league_gothic_condensed-Rg') format('svg');
	font-weight: normal;
	font-style: normal;

}

/* Condensed Italic */
@font-face {
	font-family: 'League Gothic Condensed';
	src: url('../fonts/leaguegothic-condensed-italic-webfont.eot');
	src: url('../fonts/leaguegothic-condensed-italic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/leaguegothic-condensed-italic-webfont.woff') format('woff'),
	url('../fonts/leaguegothic-condensed-italic-webfont.ttf') format('truetype'),
	url('../fonts/leaguegothic-condensed-italic-webfont.svg#league_gothic_condensed_itaRg') format('svg');
	font-weight: normal;
	font-style: italic;
}

body, html {
	padding: 0;
	margin: 0;
	font-family: 'gordita';
	height: 100%;
	width: 100%;
}

body {
	overflow-x: hidden; 
}

.header {
	background-color: #DA1332;
	font-family: 'League Gothic';
	text-transform: uppercase;
	width: 100vw;
	height: 6rem;
	position: relative;
}

.header p,
.header img {
	font-size: 3rem;
	color: #fff;
	vertical-align: middle;
	line-height: 60px;
}

.header p {
	position: absolute;
	float: left;
}

.header img {
	max-width: 16%;
	float: right;
	margin-top: 1.6rem;
}

.header-content {
	width: 73%;
	margin-left: auto;
	margin-right: auto;
}

.intro, .content, .section {
	width: 75%;
	margin-left: auto;
	margin-right: auto; 
	margin-top: 7rem;
}

.title {
	font-family: 'League Gothic';
	text-transform: uppercase;
	font-size: 3rem;
	text-align: right;	
}

.title-left {
	font-family: 'League Gothic';
	text-transform: uppercase;
	font-size: 3rem;
	text-align: left;	
}

.intro-copy {
	font-size: 1.8rem;
	line-height: 1.5;
}

.title span {
	font-size: 5rem;
	color: #DA1332;
	float: left;
	line-height: 0.6;
}

.title a {
	color: #000;
	text-decoration: none;
	line-height: 0.9;
}

.title a:hover, a.active {
	color: #DA1332;
}

.blue {
	background-color: #0b24fb;
}

.red {
	background-color: #f76c6c;
}

.section img {
	width: 100%;
}

.row:focus {
	outline: none;
}

.overlay {
	position: absolute;
	opacity: 0;
	background: rgba(0, 0, 0, 0.51);
	background-size: cover;;
	color: #fff;
	top: 5.2rem;
	bottom: 0;
	right: 1.5rem;
	left: 1.5rem;
	transition: all 1s ease 0s;
}

.overlay p {
	top: 50%;
	left: 50%;
	font-size: 2.2rem;
	margin-right: -50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.background:hover .overlay {
	opacity: 1;
}

.nav {
	display: inline-grid;
	position: fixed;
	width: 11%;
	margin-top: 6.5rem;
}

@media only screen and (max-width: 1100px) {
	.overlay p { font-size: 2rem; }
}

@media only screen and (max-width: 1000px) {
	.overlay p { font-size: 1.8rem; }
}

@media only screen and (max-width: 992px) {
	.col-md-6 { margin-bottom: 3rem; }
}


.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}



